<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    {{> frameworks }}
    <body>
        {{> navbar }}
        <script>
            $("#hello").click(function() { 
                console.log("The paragraph element was clicked");
            });
        </script>
    </body>
    
</html>
