<html>
    <body>
        <p id="hello">Hello! Welcome to my Pantry {{name}}</p>
        <div>
            <a href="/">Home</a>
            <a href="/item">Items</a>
        </div>
        <br>
    </body>
    {{> page}}

</html>